SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/cyberscope
SPRING_DATASOURCE_USERNAME=cyber
SPRING_DATASOURCE_PASSWORD=cyberpass

# Admin seed (shared DB için admin kimliği)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123!
HIBP_API_KEY=
SHODAN_API_KEY=
VT_API_KEY=


